html,
body {
    margin: 0;
    font-size: 100%;
    font-family: 'Lato', sans-serif;
    background: #fff;
}

p {
    margin: 0;
    line-height: 1.9em;
    color: #777;
    font-size: 15px;
    letter-spacing: 1px;
	font-family: 'Open Sans', sans-serif;
}


.banner-text-agile img {
    border-radius: 50%;
}

h3.b-w3ltxt {
    font-size: 3.5em;
    color: #353c4e;
    font-weight: 800;
    line-height: 70px;
    padding-top: 1em;
}

h3.b-w3ltxt span {
    font-weight: 300;
    text-shadow: none;
    letter-spacing: 1px;
    color: #353c4e;
    font-size: 20px;
}

font span{
    color: black;
}